
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #445cfa;
  }
  
  .main-container {
    width: 100vw; 
    height: 100vh;
    margin-top: 35px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-div {
    width: 85%; 
    height: 80%; 
    display: flex;
  }
  
  .sub-div1 {
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
  }
  
  .sub-div2 {
    width: 70%;
    display: flex;
    gap: 15px;
    text-align: center;
    height: 102%; 
  }
  
  .styled-table {
    width: 90%;
    height: 90%;
    margin: 35px auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .styled-table th {
    background-color: lightblue;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .second-div {
      width: 90%;
      height: 90%;
      margin: 30px auto;
      display: flex;
      flex-direction: column;
  }
  
  .dados, .graficos {
    display: flex;
    height: 80%;
    justify-content: space-between;
  }
  
  
  .applications, .servers, .graficoBarra, .graficoPizza {
    background-color: gray;
    width: 50%;
    margin: 5px;
  }
  
  
  .divteste ul {
    list-style: none; 
    padding: 0;
    color: white;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .divteste ul li {
    background-color: rgb(22, 22, 22); 
    width: 90%;
    border-radius: 10px;
  }
  
  .graficoPizza, .graficoBarra {
    justify-content: center;
    align-items: center;  
    display: flex;
  }
  
  @media (max-width: 920px) {
  
    .main-container{
      overflow: auto;
    }
  
    .dados, .graficos {
      flex-direction: column; 
      align-items: center; 
      width: 100%;
    }
  
    .sub-div2 {
      overflow: scroll;
    }
  
    .sub-div1 {
      width: 60%;
    }
  
    .applications, .servers, .graficoBarra, .graficoPizza {
      width: 100%; 
      margin: 5px 0; 
    }
  }
  
  @media (max-width: 640px) {
    .styled-table, .applications, .servers, .graficoBarra, .graficoPizza {
      width: 100%;
      margin: 5px 0;
    }
  
    .main-div {
      flex-direction: column; 
      align-items: center;
    }
  }
  
  @media (max-width: 1720px) {
    .graficos {
      height: 220px;
    }
  }
  
  
  